@charset "UTF-8";

header {
  /* 이렇게 값을 주면 헤더가 고정되고 스크롤에 영향을 받지 않는다. */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  
  
  z-index:997; /* 999 는 사이드바, 998은 사이드바 닫기용 overlay의 값이다. */
}

#header_div {
  	position:fixed;
	height:70px;
	width:100%;
	top: -2px;  /* 위로 살짝 올려서 윗쪽 선이 안보이도록 */
  
	display:flex;
	/* flex-wrap:wrap; */
	justify-content:center;
	align-items: center;
	
	border: 1px solid gray;
	border-radius: 1px;
	
	/* 이렇게 하지 않으면 헤더가 투명해서 밑으로 지나가는 내용이 보임 */
	background:white;
  	opacity: 1;
	
}

#header_logo_img {
	 /* grow , shrink  grow는 남는 여백을 차지하는 얼마나 차지할지 값, shrink 는 부족한 공간에서 얼마나 줄어들지 값,  그냥 0 0 으로 한다. */
	flex : 0 0 auto;
	
	 width:3vw; 
	/* width:45px;  */
	height:40px;
	position:absolute;
	left:33%;
	cursor:pointer;
}

#search_form {
	 /* grow , shrink  grow는 남는 여백을 차지하는 얼마나 차지할지 값, shrink 는 부족한 공간에서 얼마나 줄어들지 값,  그냥 0 0 으로 한다. */
	flex : 0 0 auto;
	
	position:absolute;
	top:15px;
	left: 38%;
	height:40px;
	width: 30%;
	background: white;
	border-radius: 5px;
	padding: 10px;
	border : 1px solid #BC8F8F;
}

#search_txt {
	border: none;
	background: none;
	outline: none;
	padding: 0px;
	color: #898989;
	font-size:16px;
	line-height:30px;
	width: 100%;
	height:100%
}

  /* 폰트를 이용한 돋보기 버튼 */
#search_btn{
	position:absolute;
	right:20px;
	top:0px;
	
	color:#BC8F8F;
	width:20px;
	height:100%;
	border-radius:50%;
	background: white;
	border: none;
	font-size: 24px;
}


#hamburger_menu {
	 /* grow , shrink  grow는 남는 여백을 차지하는 얼마나 차지할지 값, shrink 는 부족한 공간에서 얼마나 줄어들지 값,  그냥 0 0 으로 한다. */
	flex : 0 0 auto;
	
	
	position:absolute;
	
	left:69%;
	font-size:28px;
	color:black;
}



