@charset "UTF-8";

#header_div {
	display:flex;
	/* flex-wrap:wrap; */
	justify-content:center;
	align-items: center;
	
	border: 1px solid gray;
	position:pixed;
	height:70px;
	border-radius: 1px;
	top: -2px;   /* 위로 살짝 올려서 윗쪽 선이 안보이도록 */
}

#header_logo_img {
	 /* grow , shrink  grow는 남는 여백을 차지하는 얼마나 차지할지 값, shrink 는 부족한 공간에서 얼마나 줄어들지 값,  그냥 0 0 으로 한다. */
	flex : 0 0 auto;
	
	 width:3vw; 
	/* width:45px;  */
	height:40px;
	position:absolute;
	left:33%;
	cursor:pointer;
}

#search_form {
	 /* grow , shrink  grow는 남는 여백을 차지하는 얼마나 차지할지 값, shrink 는 부족한 공간에서 얼마나 줄어들지 값,  그냥 0 0 으로 한다. */
	flex : 0 0 auto;
	
	position:absolute;
	top:15px;
	left: 38%;
	height:40px;
	width: 30%;
	background: white;
	border-radius: 5px;
	padding: 10px;
	border : 1px solid #BC8F8F;
}

#search_txt {
	border: none;
	background: none;
	outline: none;
	padding: 0px;
	color: #898989;
	font-size:16px;
	line-height:30px;
	width: 100%;
	height:100%
}

  /* 폰트를 이용한 돋보기 버튼 */
#search_btn{
	position:absolute;
	right:20px;
	top:0px;
	
	color:#BC8F8F;
	width:20px;
	height:100%;
	border-radius:50%;
	background: white;
	border: none;
	font-size: 24px;
}


#hamburger_menu {
	 /* grow , shrink  grow는 남는 여백을 차지하는 얼마나 차지할지 값, shrink 는 부족한 공간에서 얼마나 줄어들지 값,  그냥 0 0 으로 한다. */
	flex : 0 0 auto;
	
	
	position:absolute;
	
	left:69%;
	font-size:28px;
	color:black;
}



