@charset "UTF-8";

#header-div {
	border: 1px solid gray;
	position:relative;
	height:70px;
	border-radius: 1px;
	top: -2px;   /* 위로 살짝 올려서 윗쪽 선이 안보이도록 */
}

#logo-p {
	position:absolute;
	top:5px;
	left:540px;
	cursor:pointer;
}

#search-form {
	position:absolute;
	top:15px;
	right: 540px;
	height:40px;
	width: 700px;
	background: white;
	border-radius: 5px;
	padding: 10px;
	border : 1px solid #BC8F8F;
}


#hamburger-menu {
	position:absolute;
	top:13px;
	right:455px;
	font-size:30px;
	color:black;
}


#search-txt {
	border: none;
	background: none;
	outline: none;
	float:left;
	padding: 0px;
	color: #898989;
	font-size:16px;
	line-height:30px;
	width: 200px;
	height:100%
}

#search-btn{
	color:#BC8F8F;
	float:right;
	width:40px;
	height:100%;
	border-radius:50%;
	background: white;
	border: none;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}




/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999; /* 1 Stay on top */
  top: 0; /* Stay at the top */
/*   left: 0; */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* div overlay 의 크기를 화면 전체로 지정한다. 그리고 display:none 으로 하여 처음에는 숨겨진 상태로 만든다.
 그리고 z-index를 사이드바 한 단계 아래로 지정하여 사이드바 외부 클릭시 이벤트를 받아서 사이드바를 닫도록 한다.  */
.overlay {  
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}



  /* 하단의 푸터 지정 */
#footer-div{
	text-align:center;
	position: fixed;
	bottom:-1px;
    width: 100vw;
    height: 9vh;
    z-index: 997;
}

.footer-left-div{
	position:absolute;
	width: 50.1vw;
	height:9vh;
	left: 0px; 
	text-align:right;
	border-radius: 0px 70px 0px 0px;      /*  4개 설정시    1상좌 2상우 3 하좌 4 하우 */
	background-color: #F8F8FF;
	border : 2px solid #DCDCDC;
}

#location, #nearby{
	position:relative;
	top:10px;
}


#community, #myinfo{
	position:relative;
	top:10px;
	left:55px;
}

.footer-center-div {
	width: 3vw;
	height:9vh;
	z-index:998;
	position:absolute;
	top:19px;
	left:48.6vw;
	background-color: #F8F8FF;
}

#home{
	
	width: 3.3vw;
	height:6vh;
	z-index:999;
	position:absolute;
	top:17px;
	left:48.4vw;
	background-color: #F8F8FF;
	border : 1px solid #DCDCDC;
	border-radius:70px 70px 70px 70px;
	box-shadow: 0px 7px 7px 0px #DCDCDC;	
}

#home-img {
	position:relative;
	top:20%;
}


.footer-right-div{
	position:absolute;
	top:0px;
	right:0px; 
	width: 50.1vw;
	height:9vh; 
	text-align:left;
	border-radius:70px 0px 0px 0px;      /*  4개 설정시    1상좌 2상우 3 하좌 4 하우 */
	background-color: #F8F8FF;
	border : 2px solid #DCDCDC;
}

.footer-item {
	display:inline; 
}

.footer-img {
	width:30px; 
	height:30px; 
}


.footer-span {
	position:relative;
	top : 35px;
	right : 45px
	 
}  



