@charset "UTF-8";


#container {
	/* 본문의 너비는 50% 정도로하고 길게한다. 스마트폰에 맞춤 */
	width:50%;
	margin-left:25%;
}

#container #upper_content {
	width: 100%
}


#upper_content .big_category {
	display:flex;
	margin-top:2%;
	justify-content:space-between;
	align-items:center;
}


/*  앵커태그에도 flex 설정을 할 수 있다. */
#upper_content .big_category a {
	flex: 1;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	 /* 밑줄 표시 않도록 */
	text-decoration-line:none;
	width:11%;
}


#upper_content .big_category a img{
	
	width:115px;
	height:115px;
}

  /* 2. 이벤트 리스트 css */

#upper_content .eventlist {
	display:flex;
	justify-content:space-around;
	align-items:center;
}

#upper_content .eventlist a{
	width:32%;
	height:32%;
	background-color:#dcdcdc;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius: 5px;
	/* 밑줄 표시 않도록 */
	text-decoration-line:none;
}

#upper_content .eventlist a img{
	width:32px;
	height:36px;
}







/* .slideshow_container {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;} */

/* Slideshow container */
.slideshow_container {
  max-width: 1000px;
  margin-top : 20px;
  cursor:pointer;
}


/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.1s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  /* 이 값과 자바스크립트에서 showSlides() 함수안에  setTimeout 값이 같아야 자연스럽다. */
   animation-duration: 3s; 
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}





/* 내 주변 추천샵, nearby_shop css */

#nearby_shop, #new_shop {
	cursor:pointer;
/* 	overflow:hidden 을 꼭 해줘야한다. 안그러면 앞 뒤로 이미지가 넘어가서 나옴 */
	overflow:hidden;
	margin-top:30px;
}
#nearby_shop a, #new_shop a{
   	/* 밑줄 표시 않도록 */
	text-decoration-line:none;	
}

#nearby_shop .review_and_heart, #new_shop .review_and_heart {
	display:flex;
	 /* 가로정렬을 앞쪽으로 몰리도록 설정 */
	justify-content:flex-start;
	 /* 수직정렬을 중앙 */
	align-items:center;
	 /* 이상하게 샵 이름다음에 빈칸이 생겨서 마진탑을 -15px 줬음 */
	margin-top:-15px;
}

#nearby_shop .review_and_heart .inner, #new_shop .review_and_heart .inner {
	flex: 0 0 auto;
	display:flex;
	 /* 가로정렬을 앞쪽으로 몰리도록 설정 */
	justify-content:center;
	 /* 수직정렬을 중앙 */
	align-items:center;
}

#nearby_shop .review_and_heart .inner div, #new_shop .review_and_heart .inner div{
	flex: 0 0 auto;
}

#nearby_shop .review_and_heart .inner img, #new_shop .review_and_heart .inner img{
	width:15px;
	height:15px;
}

#nearby_shop .dist_and_price, #new_shop .dist_and_price {
	display:flex;
	 /* 가로정렬을 앞쪽으로 몰리도록 설정 */
	justify-content:space-between;
	 /* 수직정렬을 바닥 */
	align-items:flex-end;
}

#nearby_shop .dist_and_price .price, #new_shop .dist_and_price .price {
	display:flex;
	flex-direction:column;
	 /* 가로정렬을 뒤쪽으로 몰리도록 설정 */
	justify-content:flex-end;
	 /* 수직정렬을 바닥 */
	align-items:flex-end;
}




/* 회원가입소개 div 의 css */
.register_ad{
	display:flex;
	justify-content:space-between;
	align-items:center;
	cursor:pointer;
	border: 1px solid #0bc7ec;
	border-radius: 6px;
}

.register_ad .left_group{
	margin-left:20px;
	flex: 0 0 auto;
	display:flex;
	justify-content:flex-start;
	align-items:center;
}

.register_ad .left_group .text_group{
	flex: 0 0 auto;
	display:flex;
	flex-direction:column;
}







